 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Skilled Tradesman</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Vocations
                </a>
                <ul class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/vocations/carpentry">Carpentry</a></li>
                  <li><a class="dropdown-item" href="/vocations/electrical">Electrical</a></li>
                  <li><a class="dropdown-item" href="/vocations/hvacr">HVACR</a></li>
                  <li><a class="dropdown-item" href="/vocations/transportation">Transportation</a></li>
                  <li><a class="dropdown-item" href="/vocations/plumbing">Plumbing</a></li>
                  <li><a class="dropdown-item" href="/vocations/welding">Welding</a></li>
                </ul>
                <li class="nav-item">
                  <a class="nav-link" href="/entry">Entry</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/vocations/maint">DB Maintenance</a>
                </li>
                <!-- Modal for Login -->
                <!-- <li class="nav-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="modal fade" id="myModal">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1>Please Sign In</h1>
                                            </div>
                                            <div class="modal-body">
                                                <div class="button-container d-flex  flex-column justify-content-around" style="height: 12rem;">
                                                    <a class="btn btn-danger btn-social btn-google" href="/auth/google" role="button">
                                                      <i class="fab fa-google"></i>
                                                      Sign In With Google
                                                    </a>
                                                    <a class="btn btn-primary btn-social btn-facebook" href="/auth/facebook" role="button">
                                                      <i class="fab fa-facebook"></i>
                                                      Sign In With Facebook
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                Click to exit
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#myModal">Login</a>
                            </div>
                        </div>
                    </div>
                </li> -->
                
                <li class="nav-item">
                  ${
                    !isAuthenticated ?
                    `<a class="nav-link" href="/login">Login</a>` :
                    `<a class="nav-link" href="/logout">Logout</a>`
                  }
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/watercooler">Water Cooler</a>
                </li>
          </li>
        </ul>
      </div>
    </div>
</nav> 