<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/dcbcb40c25.js" crossorigin="anonymous"></script>
    <title>Skilled Tradesman - Home</title>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Skilled Tradesman</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Vocations
                  </a>
                  <ul class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/vocations/carpentry">Carpentry</a></li>
                    <li><a class="dropdown-item" href="/vocations/electrical">Electrical</a></li>
                    <li><a class="dropdown-item" href="/vocations/hvacr">HVACR</a></li>
                    <li><a class="dropdown-item" href="/vocations/transportation">Transportation</a></li>
                    <li><a class="dropdown-item" href="/vocations/plumbing">Plumbing</a></li>
                    <li><a class="dropdown-item" href="/vocations/welding">Welding</a></li>
                  </ul>
                  <li class="nav-item">
                    <a class="nav-link" href="/entry">Entry</a>
                  </li>
                  <!-- Modal for Login -->
                  <li class="nav-item">
                      <div class="container">
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="modal fade" id="myModal">
                                      <div class="modal-dialog modal-sm">
                                          <div class="modal-content">
                                              <div class="modal-header">
                                                  <h1>Please Sign In</h1>
                                              </div>
                                              <div class="modal-body">
                                                  <div class="button-container d-flex  flex-column justify-content-around" style="height: 12rem;">
                                                      <a class="btn btn-danger btn-social btn-google" href="/auth/google" role="button">
                                                        <i class="fab fa-google"></i>
                                                        Sign In With Google
                                                      </a>
                                                      <a class="btn btn-primary btn-social btn-facebook" href="/auth/facebook" role="button">
                                                        <i class="fab fa-facebook"></i>
                                                        Sign In With Facebook
                                                      </a>
                                                  </div>
                                              </div>
                                              <div class="modal-footer">
                                                  Click to exit
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#myModal">Login</a>
                              </div>
                          </div>
                      </div>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/about">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/watercooler">Water Cooler</a>
                  </li>
            </li>
          </ul>
        </div>
      </div>
    </nav> 
    <!-- Main -->
    <main>  
      
      <div class="card-container d-flex p-6 mb-3 justify-content-around flex-wrap" style="border: 1px solid red; margin-bottom: 10rem;">
        <div class="card" style="width: 22rem; margin-top: 20px;" id="randomImg0">
          <img src="https://images.unsplash.com/photo-1591768793355-74d04bb6608f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2552&q=80" class="card-img-top" alt="...">
          <span></span>
          <div class="card-body">
            <p class="card-text">Transportation</p>
            <p class="card-text">Pay Range: $38k - 89k per year</p>
          </div>
        </div>

        <div class="card" style="width:22rem; margin-top: 20px;" id="randomImg1">
          <img src="https://images.unsplash.com/photo-1507497642206-b5c42198f2df?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2553&q=80" class="card-img-top" alt="...">
          <span></span>
          <div class="card-body">
            <p class="card-text">Welding</p>
            <p class="card-text">Pay Range: $55k - 110k per year</p>
          </div>
        </div>

        <div class="card" style="width:22rem; margin-top: 20px;" id="randomImg2">
          <img src="https://images.unsplash.com/photo-1596496181961-4326beb30551?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2550&q=80" class="card-img-top" alt="...">
          <span></span>
          <div class="card-body">
            <p class="card-text">Carpentry</p>
            <p class="card-text">Pay Range: $44k - 76k per year</p>
          </div>
        </div>

        <div class="card" style="width: 22rem; margin-top: 20px;" id="randomImg3">
          <img src="https://skillpointe.com/sites/default/files/2021-02/HVAC_Technician.jpg" class="card-img-top" alt="...">
          <span></span>
          <div class="card-body">
            <p class="card-text">HVACR</p>
            <p class="card-text">Pay Range: $30k - 91k per year</p>
          </div>
        </div>

        <div class="card" style="width: 22rem; margin-top: 20px;" id="randomImg4">
          <img src="https://images.unsplash.com/photo-1555963966-b7ae5404b6ed?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80" class="card-img-top" alt="...">
          <span></span>
          <div class="card-body">
            <p class="card-text">Electrical</p>
            <p class="card-text">Pay Range: $34k - 76k per year</p>
          </div>
        </div>

        <div class="card" style="width: 22rem; margin-top: 20px;" id="randomImg5">
          <img src="https://www.neyerplumbing.com/blog/wp-content/uploads/2020/02/KenNeyer-1024x683.jpg" class="card-img-top" alt="...">
          <span></span>
          <div class="card-body">
            <p class="card-text">Plumbing</p>
            <p class="card-text">Pay Range: $44k - 110k per year</p>
          </div>
        </div>
      </div>
    </main>
    <!-- Footer -->
    <footer class="footer py-3 bg-dark fixed-bottom">
      <div class="container text-center">
        <span class="text-light">Skilled Tradesman - 2021</span>
      </div>
    </footer>
    <!-- <script src="./randImg.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
</body>
</html>