<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/dcbcb40c25.js" crossorigin="anonymous"></script>
    <title>Skilled Tradesman - Login</title>
</head>
<body>

    <div class="button-container d-flex justify-content-center align-content-around" style="margin-top: 10rem;">
        <div class="button-container d-flex  flex-column justify-content-around" style="height: 12rem;">
          <a class="btn btn-danger btn-social btn-google" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign In With Google
          </a>
          <a class="btn btn-primary btn-social btn-facebook" href="/auth/facebook" role="button">
            <i class="fab fa-facebook"></i>
            Sign In With Facebook
          </a>
          <!-- <a class="btn btn-dark btn-social btn-guest" href="#" role="button">
            <i class="fas fa-user-secret"></i>
            Sign In As Guest
          </a> -->
        </div>
    </div>
    
</body>
</html>